<button (click)="onDisplayLookup('expenses')">pave</button>
<form [formGroup]="product">
    <div class="row">
        <div class="col-12">
            <section class="widget" widget>
                <header>
                    <h6>
                        Basic information
                    </h6>
                    <div class="widget-controls">
                        <a data-widgster="collapse" title="Collapse">
                            <i class="la la-angle-up"></i>
                        </a>
                        <a data-widgster="expand" title="Expand">
                            <i class="la la-angle-down"></i>
                        </a>
                    </div>
                </header>
                <div class="widget-body">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-12 col-lg-6 row">
                                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Name</label>
                                <div class="col-md-7 ">
                                    <input type="text" id="normal-name" formControlName="name" class="form-control"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-lg-6 row">
                                <label for="normal-origin" class="col-md-4  col-form-label text-md-right">Origin</label>
                                <div class="col-md-7 ">
                                    <input type="text" id="normal-origin" formControlName="origin" class="form-control"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-lg-6 row">
                                <label for="normal-location" class="col-md-4  col-form-label text-md-right">Location</label>
                                <div class="col-md-7 ">
                                    <input type="text" id="normal-location" formControlName="location" class="form-control"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-lg-6 row">
                                <label for="normal-description"
                                    class="col-md-4  col-form-label text-md-right">Description</label>
                                <div class="col-md-7 ">
                                    <textarea rows="4" class="form-control" id="normal-description"
                                        formControlName="description"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </section>
            <section class="widget" widget>
                <header>
                    <h6>
                        FloorPlans
                    </h6>
                    <div class="widget-controls">
                        <a data-widgster="collapse" title="Collapse">
                            <i class="la la-angle-up"></i>
                        </a>
                        <a data-widgster="expand" title="Expand">
                            <i class="la la-angle-down"></i>
                        </a>
                    </div>
                </header>
                <div class="widget-body">
                    <fieldset>
                        <div class="col-12 text-right">
                            <button (click)="creatingFloorPlan = true" class="btn btn-primary rounded-circle">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>                        
                        <div class="table-responsive">
                            <table *ngIf="product.get('floorPlans').value.length > 0" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 55px;"></th>
                                        <th style="width: 50px;">#</th>
                                        <th>Name</th>
                                        <th>Size</th>
                                        <th>Bedrooms</th>
                                        <th>Bathrooms</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Available</th>
                                        <th>Deposit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let floorPlan of product.get('floorPlans')? product.get('floorPlans').value:[]; let i = index" (click)="edit('floorPlans',i);creatingFloorPlan = true">
                                        <td>
                                            <span>
                                                <i class="glyphicon glyphicon-remove-circle"(click)="delete('floorPlans',i)"></i>
                                            </span>
                                        </td>
                                        <td>{{i + 1}}</td>
                                        <td>{{floorPlan.name}}</td>
                                        <td>{{floorPlan.size}}</td>
                                        <td>{{floorPlan.bedrooms}}</td>
                                        <td>{{floorPlan.bathrooms}}</td>
                                        <td>{{floorPlan.unit}}</td>
                                        <td>{{floorPlan.price}}</td>
                                        <td>{{floorPlan.available}}</td>
                                        <td>{{floorPlan.deposit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </section>
            <section class="widget" widget>
                <header>
                    <h6>
                        Amenities
                    </h6>
                    <div class="widget-controls">
                        <a data-widgster="collapse" title="Collapse">
                            <i class="la la-angle-up"></i>
                        </a>
                        <a data-widgster="expand" title="Expand">
                            <i class="la la-angle-down"></i>
                        </a>
                    </div>
                </header>
                <div class="widget-body">
                    <fieldset>
                        <div class="col-12 text-right">
                            <button (click)="onDisplayLookup('amenities')" class="btn btn-primary rounded-circle"><i
                                    class="fa fa-plus"></i></button>
                        </div>                        
                        <div class="table-responsive">
                            <table *ngIf="product.get('amenities').value.length > 0" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 52px;"></th>
                                        <th style="width: 50px;">#</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let amenities of product.get('amenities')? product.get('amenities').value:[]; let i = index" (click)="edit('amenities',i);creatingOfficeHour = true">
                                        <td>                                            
                                            <span>
                                                <i class="glyphicon glyphicon-remove-circle text-danger"
                                                    (click)="delete('amenities',i)"></i>
                                            </span>
                                        </td>
                                        <td>{{i + 1}}</td>
                                        <td>{{amenities.name}}</td>
                                        <td>{{amenities.category}}</td>
                                        <td>{{amenities.title}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </section>
            <section class="widget" widget>
                <header>
                    <h6>
                        Office hours
                    </h6>
                    <div class="widget-controls">
                        <a data-widgster="collapse" title="Collapse">
                            <i class="la la-angle-up"></i>
                        </a>
                        <a data-widgster="expand" title="Expand">
                            <i class="la la-angle-down"></i>
                        </a>
                    </div>
                </header>
                <div class="widget-body">
                    <fieldset>
                        <div class="col-12 text-right">
                            <button (click)="creatingOfficeHour = true" class="btn btn-primary rounded-circle"><i
                                    class="fa fa-plus"></i></button>
                        </div>                        
                        <div class="table-responsive">
                            <table *ngIf="product.get('officeHours').value.length > 0" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 52px;"></th>
                                        <th style="width: 50px;">#</th>
                                        <th>DayOfWeek</th>
                                        <th>Opens</th>
                                        <th>Closes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let officeHour of product.get('officeHours')? product.get('officeHours').value:[]; let i = index" (click)="edit('officeHours',i);creatingOfficeHour = true">
                                        <td>                                            
                                            <span>
                                                <i class="glyphicon glyphicon-remove-circle text-danger"
                                                    (click)="delete('officeHours',i)"></i>
                                            </span>
                                        </td>
                                        <td>{{i + 1}}</td>
                                        <td>{{officeHour.dayOfWeek}}</td>
                                        <td>{{officeHour.opens}}</td>
                                        <td>{{officeHour.closes}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </section>
            <section class="widget" widget>
                <header>
                    <h6>
                        Expense
                    </h6>
                    <div class="widget-controls">
                        <a data-widgster="collapse" title="Collapse">
                            <i class="la la-angle-up"></i>
                        </a>
                        <a data-widgster="expand" title="Expand">
                            <i class="la la-angle-down"></i>
                        </a>
                    </div>
                </header>
                <div class="widget-body">
                    <fieldset>
                        <div class="col-12 text-right">
                            <button (click)="onDisplayLookup('expenses')" class="btn btn-primary rounded-circle"><i
                                    class="fa fa-plus"></i></button>
                        </div>                        
                        <div class="table-responsive">
                            <table *ngIf="product.get('expenses').value.length > 0" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 52px;"></th>
                                        <th style="width: 50px;">#</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let expenses of product.get('expenses')? product.get('expenses').value:[]; let i = index" (click)="edit('expenses',i);creatingOfficeHour = true">
                                        <td>                                            
                                            <span>
                                                <i class="glyphicon glyphicon-remove-circle text-danger"
                                                    (click)="delete('expenses',i)"></i>
                                            </span>
                                        </td>
                                        <td>{{i + 1}}</td>
                                        <td>{{expenses.name}}</td>
                                        <td>{{expenses.type}}</td>
                                        <td>{{expenses.price}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </section>
        </div>
    </div>
</form>
<p-dialog header="Add floorPlan" [(visible)]="creatingFloorPlan" [resizable]="true"
    [style]="{'min-width':'300px', 'width':'550px'}" [contentStyle]="{'padding':'10px','min-width':'300px'}">
    <div style="width: calc(100% - 20px);">
        <form [formGroup]="floorPlans">
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Name</label>
                <div class="col-md-7 ">
                    <input type="text" id="normal-floorPlan-name" formControlName="name" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Size</label>
                <div class="col-md-7 ">
                    <input type="text" id="normal-floorPlan-size" formControlName="size" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Bedrooms</label>
                <div class="col-md-7 ">
                    <input type="number" id="normal-floorPlan-bedrooms" formControlName="bedrooms" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Bathrooms</label>
                <div class="col-md-7 ">
                    <input type="number" id="normal-floorPlan-bathrooms" formControlName="bathrooms"
                        class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Unit</label>
                <div class="col-md-7 ">
                    <input type="text" id="normal-floorPlan-unit" formControlName="unit" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Price</label>
                <div class="col-md-7 ">
                    <input type="text" id="normal-floorPlan-price" formControlName="price" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Available</label>
                <div class="col-md-7 ">
                    <input type="text" id="normal-floorPlan-available" formControlName="available" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Deposit</label>
                <div class="col-md-7 ">
                    <input type="number" id="normal-floorPlan-deposit" formControlName="deposit" class="form-control"
                        placeholder="">
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <button class="btn btn-outline-success btn-sm" (click)="index = null;addFloorPlan()">Add</button>
        <button *ngIf="index != null" class="btn btn-outline-warning btn-sm"
            (click)="update('floorPlans');creatingFloorPlan=false">Edit</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="index = null;creatingFloorPlan=false">Cancel</button>
    </p-footer>
</p-dialog>
<p-dialog header="Add office hour" [(visible)]="creatingOfficeHour" [resizable]="true"
    [style]="{'min-width':'300px', 'width':'550px'}" [contentStyle]="{'padding':'10px','min-width':'300px'}">
    <div style="width: calc(100% - 20px);">
        <form [formGroup]="officeHours">
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Day of week</label>
                <div class="col-md-7 ">
                    <p-multiSelect [options]="days" [style]="{'min-width': '100%'}" formControlName="dayOfWeek"></p-multiSelect>                    
                </div>
            </div>
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Opens</label>
                <div class="col-md-7 ">
                    <input type="time" id="normal-expense-opens" formControlName="opens" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="normal-name" class="col-md-4  col-form-label text-md-right">Closes</label>
                <div class="col-md-7 ">
                    <input type="time" id="normal-expense-closes" formControlName="closes" class="form-control"
                        placeholder="">
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <button class="btn btn-outline-success btn-sm" (click)="index = null;addElemenet('officeHours')">Add</button>
        <button *ngIf="index != null" class="btn btn-outline-warning btn-sm"
            (click)="update('officeHours');creatingOfficeHour = false">Edit</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="index = null;creatingOfficeHour = false">Cancel</button>
    </p-footer>
</p-dialog>

<p-dialog header="Title" [(visible)]="displayLookup" [resizable]="true" [style]="{'min-width':'300px', 'width':'550px'}"
    [contentStyle]="{'padding':'0px','position':'absolute','min-width':'300px'}">
    <p-table *ngIf="lookupFields" #dt [value]="lookup_data" [rows]="8" [paginator]="true"
        [responsive]="true" selectionMode="multiple" [(selection)]="lookup_selected" (onRowSelect)="lookup_callback()" (onRowUnselect)="lookup_callback()"
        [globalFilterFields]="globalFilterFields">
        <ng-template pTemplate="caption">
            <div style="text-align: left">
                <i class="fa fa-search" style="margin:4px 5px 8px 0px"></i>                
                <input id="globalFilter" type="text" pInputText size="50" placeholder="Global Filter"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    style="width:250px">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="ui-th" *ngFor="let col of lookupFields">
                    {{col.label}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data >
            <tr [pSelectableRow]="data" >
                <td *ngFor="let col of lookupFields; let i = index">
                    {{data[col.name]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>