<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
    <div class="d-flex justify-content-start mb-2">
        <h3 class="d-flex align-items-center mb-0">
            <a class="btn btn-light d-flex align-items-center mr-2" style="font-size: 18px" (click)="goBack()">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            List of {{module}}
        </h3>
    </div>
</div>
<kendo-grid #grid="kendoGrid" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
    [sortable]="true" [pageable]="true" (dataStateChange)="dataStateChange($event)" [filter]="state.filter"
    [columnMenu]="{ filter: true }" [filterable]="'menu'" [reorderable]="true" [scrollable]="true"
    style="max-height: calc(100vh - 305px); min-height: 347px">
    <kendo-grid-column *ngFor="let field of config" [field]="field.name" [title]="field.label"
        [width]="field.width" [filter]="field.type">
    </kendo-grid-column>
    <!--<kendo-grid-excel fileName="{{modl}}.xlsx" [fetchData]="allData"></kendo-grid-excel>
    <kendo-grid-pdf fileName="{{modl}}.pdf" paperSize="A4" [scale]="0.5" [repeatHeaders]="true" [landscape]="true">
        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
            <div class="page-template">
                <div class="header">
                    <div style="float: right">{{ pageNum }} / {{ totalPages }}</div>
                </div>
                <div class="footer">
                    {{ pageNum }} / {{ totalPages }}
                </div>
            </div>
        </ng-template>
    </kendo-grid-pdf>-->
</kendo-grid>